@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}


.main-bg{

  background-image: url("./images/image.jpg");
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3vh;
}
h1{
    margin: 0;
    text-align: center;
    /* color: #E2E5DE; */
    color: #fffaec;
    font-weight: 500;
    font-size: 3vw;
    letter-spacing: 0.1vw;
    text-shadow: 2px -2px 5px rgba(255, 255, 255, 0.4); 
    margin-bottom: 4vh;
}

.main-conteiner{
    width: 95%;
    border: 2px solid white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    /*overrides the default strech feature
    flex-items have a different heights*/
    
}

.section {
    width: 22%;
    height: auto;
    border: 1px solid red;
    padding: 0.5vw;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
   
}
.title-section {
    border: 1px solid blue;
    text-align: center;
    padding: 0.7vw;
    color: #E2E5DE;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 4px;
}
.first {
    background-color: #a2622d;
}
.second {
    background-color: #1b6161;
}
.third{
    background-color: #248224;
}
.fourth {
    background-color: #a22d22;
}

.drop-conteiner{
    border: 1px solid yellow;
}
.drop-conteiner>div{
    color: #fffaec;
    font-size: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1.2vh;
    border: 1px solid violet;
    background-color: #000102;
    font-weight: 500;
    
}

.add-save-conteiner{
    margin-top: 3vh;
}
/* .add-save>div:first-of-type{
    color: #fffaec;
    font-size: 0.8vw;
    letter-spacing: 0.1vw;
    font-weight: 500;
} */

.add-save{
    /* display: flex;
    justify-content: space-between; */
    border: 1px solid white;
    color: #fffaec;
    font-size: 0.9vw;
    margin-bottom: 2vh;
    position: relative;
    height: 5.5vh;
}
.add-item,.save-item{
    height: 5.5vh;
    width: 6.2vw;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
.add-item{
    position: absolute;
    left: 0.5vw;
}
.save-item{
    background-color: #282828;
    position: absolute;
    right: 0.5vw;
    display: none;
}

.save-item:hover{
     background-color: #414141;
}

textarea{
    width: 100%;
    outline: none;
    resize: none;
    height: 15vh;
    border: 6px solid lightgray;
    border-radius: 4px;
    font-size: 2vh;
    font-family: 'Barlow', sans-serif;
    display: none;
}


